<h2>New Event detail</h2>

<%= render "form.html", changeset: @changeset,
                        action: event_detail_path(@conn, :create) %>

<span><%= link "Back", to: event_detail_path(@conn, :index) %></span>
