<ul>
  <li>
    <strong>Name:</strong>
    <br/>
    <%= @event_detail.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <br/>
    <%= @event_detail.description %>
  </li>

  <li>
    <strong>Banner: </strong>
    <br/>
    <%= img_tag(EventPage.Web.BannerUploader.url({@event_detail.banner, @event_detail},:original))%>
  </li>
</ul>
