
<div class="jumbotron">
  <h1><%= @event_detail.name %></h1>
  <%= img_tag(EventPage.Web.BannerUploader.url({@event_detail.banner, @event_detail},:original))%>
  <p>
    <%= @event_detail.description %>
  </p>

</div>
