<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "EventPageViewer" %></h2>
  <p class="lead">A place for you to view event page!</p>
</div>

<div class="row marketing">
  <div class="col-lg-12">
    <h4>Event Pages:</h4>
    <%= for event <- @events do %>
      <ul>
        <%= link "#{event.name}", to: event_page_path(@conn, :show, event.id) %>
      </ul>
      <% end %>
  </div>
</div>
