<h2><%= link "#{@event.name}", to: event_path(@conn, :show, @event.id) %></h2>

<%= render "index_items.html", conn: @conn, event: @event, attendees: @attendees %>

<span><%= link "Add New Event Attendee", to: attendee_path(@conn, :new, @event.id) %></span>
