<h2>
  <%= @event.name %>
</h2>
<h3>New Event TabEmbed</h3>

<%= render "form.html", changeset: @changeset, action: tab_embed_path(@conn, :create, @event.id) %>

<span><%= link "Back", to: tab_embed_path(@conn, :index, @event.id) %></span>
