<h2><%= @event_detail.name %></h2>

<%= render "event_detail_show.html", event_detail: @event_detail %>

<span><%= link "Edit", to: event_path(@conn, :edit, @event_detail) %></span>
<span><%= link "Back", to: event_path(@conn, :index) %></span>
